$headerBackground: #3b609b;
$backgroundwrapper: rgba(25, 25, 25, 0.75);
$backgroundcollertranistion: background-color 0.5s ease-in;

@font-face {
  font-family: 'mael';
  src: url('../fonts/mael.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
    justify-content: space-evenly;
    li{
      align-self: center;
      margin-bottom: 3rem;
    }
  }

}

header {
  padding: 1rem;
  background-color: $headerBackground;
  h1 {
    color: gainsboro;

    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    font-family: 'mael', serif;
  }
}

article
{
  background-color: $headerBackground;
  border-top: gainsboro;
  border-style: ridge;
  padding: 1rem;

}
label{
  display: inline-block;
  min-width: 4rem;
}
div{
  display: block;
  margin-bottom: 0.5rem;
}
input[type="number"]{
  max-width: 2rem;
  margin-right: 0.3rem;
}

h2{
  margin-bottom: 0.4rem;
}

p{
  margin-bottom: 0.2rem;
}

nav{
  margin-left: auto;
  margin-right: auto;
  padding: 1.60rem;
  a{
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: #028ecc;
    -webkit-transition: $backgroundcollertranistion;
    -moz-transition: $backgroundcollertranistion;
    -ms-transition: $backgroundcollertranistion;
    -o-transition: $backgroundcollertranistion;
    transition: $backgroundcollertranistion;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Britannic Bold',  sans-serif;


  }


  a:hover
  {
    background-color: #d58512;
  }
}

ul{

  display: flex;
  @media only screen and (min-width: 500px) {
    justify-content: space-evenly;
    flex-direction: row;
  }






}

form{
  background-color: rgba(96,137,201,0.4);
  display: flex;
  align-self: center;

  fieldset
  {
    background-color: #7397cf;
    max-width: 75%;
    padding: 1.5rem;
  }
}

legend
{
  font-family: serif;
}

html{
  height: 100%;
  background-image: url("../media/dice-2351448.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body{
  height: 100vh;


}

